<ion-view view-title="Users">
    <ion-content>
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="user in users" type="item-text-wrap" href="#/tab/users/{{user._id}}">
                <img ng-src="{{user.face}}">
                <h2>{{user.firstName}}</h2>
                <p>{{user.lastName}}</p>
                <p>{{user.email}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>

                <ion-option-button class="button-assertive" ng-click="deleteUser(user)">
                  Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
