<ion-view view-title="{{event.title}}">
    <ion-content class="padding">

        <h3>Address</h3>
        <p>{{event.address}}</p>
        <h3>Date</h3>
        <p>{{event.date}}</p>
        <h3>Time</h3>
        <p>{{event.time}}</p>

        <div class="form-group padding-top">
            <button data-ng-click="getEventPhoto(event)" class="button button-block button-royal">Take Photo</button>
        </div>
        <div ng-show="event.lastPhotoURI" class="item item-image">
            <img ng-src="{{event.lastPhotoURI}}" style="max-width: 100%">
        </div>

    </ion-content>
</ion-view>
