<ion-view view-title="Events">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="event in events" type="item-text-wrap" href="#/tab/events/{{event._id}}">
        <h2>{{event.title}}</h2>
        <p>address - {{event.address}}</p>
        <p>date - {{event.date}}</p>
        <p>time - {{event.time}}</p>

        <h2>{{event.name}}</h2>
        <p>{{event.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="deleteButton(event._id)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
